<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TextMapper">
    
    <resultMap type="Text" id="TextResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
        <result property="address"    column="address"    />
    </resultMap>

    <sql id="selectTextVo">
        select id, name, age, address from text
    </sql>

    <select id="selectTextList" parameterType="Text" resultMap="TextResult">
        <include refid="selectTextVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
        </where>
    </select>
    
    <select id="selectTextById" parameterType="Long" resultMap="TextResult">
        <include refid="selectTextVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertText" parameterType="Text">
        insert into text
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="address != null">address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="address != null">#{address},</if>
         </trim>
    </insert>

    <update id="updateText" parameterType="Text">
        update text
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="address != null">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTextById" parameterType="Long">
        delete from text where id = #{id}
    </delete>

    <delete id="deleteTextByIds" parameterType="String">
        delete from text where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>